{% extends "base.html" %}
{% block content %}

<body>
  
    <h1 class="title">Borrowed Gear</h1>
    <p class="topText">Here you can view all of the gear you have borrowed from the gear store</p>
    <p></p>
    <!-- Sets up the dropdown menu to filter the gear shown by type -->
    <select id="dropdown" onchange="loadData()">
      <option value="all">-- All gear --</option>
      {%for gearType in distinctTypes%}
      <option value="{{gearType.type.type}}">{{gearType.type.type}}</option> 
      {%endfor%}
      </select>

    <p></p>
    <div class="card-header">Type, Size and Qty borrowed</div>
    <div class="cards"></div>

      <!-- Allows iterating through the gear objects and the forms as well -->
    {%for i in range(vals|length)%} 

    
          <div class="card-group" data-val="{{vals[i].gear.type.type}}">
          <div class="card"> 
            <div class="card-body text-center">
              <p class="card-text">{{vals[i].gear.type.type}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
              <p class="card-text">{{vals[i].gear.size.size}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
              <p class="card-text">{{vals[i].qtyBorrowed}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
              <p class="card-text">{{vals[i].dateBorrowed}}</p>
            </div>
          </div>
          <div class="card">
            <!-- Adds a form button to each card row so that the user can return a selected number of that gear -->
            <div class="card-body">
              <form action="" method="post" name="returnGear">
                {{ forms[i].hidden_tag() }}
                {{forms[i].qty.label}}
                {{ forms[i].qty(class_='form-control') }}
                <input type="hidden" name="gearID" value="{{ vals[i].gearID }}">
                {% for error in forms[i].qty.errors %}
                 <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                 </div>
                {% endfor %}
                <input type="submit" class="btn btn-secondary" value="Return gear">
                </form>
            </div>
          </div>
         
          
        </div>
       
        

    {%endfor%}
    
{% endblock %}
